.about-us-heading{
    color: white;
    background-color: #212529;

    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.about-us-heading h1{
    font-size: 42px;
    font-weight: bold;
}

.main-container {
            display: flex;
            max-width: 1500px;
            margin: 2rem auto;
            margin-right: 70px;
            padding: 0 1.5rem;
        }
        
        .social-icon {
            position: sticky;
            top: 25rem;
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
           margin-top: 150px;
            border-radius: 50px;
           
            z-index: 100;
        }
        
        .icon {
            width: 60px;
            height: 60px;
            border-radius: 10%;
            display: flex;
            align-items: center;
            text-decoration: none !important;
            justify-content: center;
            font-size: 1.5rem;
            color: white;
            margin: 0 0.5rem;
            transition: all 0.3s ease;
          
        }
        
        .icon:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }
        
        .whatsapp {
            background:  #25D366;
        }
        
        .phone {
            background: #A886CD;
        }
        
        .mail {
            background:  #FF549C;
        }
        .whatsapp i{
            font-size: 40px;
        }
         .phone i{
            font-size: 40px;
        }
         .mail i{
            font-size: 40px;
           
        }
        
        .about-section {
  padding: 10px 40px;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #333;
}

.about-inner {
  max-width: 1300px;
  margin: auto;
}

.top-row {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 15px;
}


.about-image {
  flex: 1;
  min-width: 300px;
}

.about-image img {
  max-width: 625px;
  border-radius: 16px;
  object-fit: cover;
}

.bottom-text {
  margin-top: 10px;
}

.bottom-text p {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 15px;
}
