body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
}

.main {
  padding-bottom: 60px;
}

.heading {
  text-align: center;
  background: linear-gradient(to right, #ffc107);
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  padding: 80px 20px;
  height: 250px;
  position: relative;
  z-index: 1;
}
.content-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info i {
      color: #ffc107; /* soft mint green */
      border: 2px solid #ffc107;
      border-radius: 50%;
      padding: 10px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
    }

    .contact-info p {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      margin-bottom: 15px;
      font-size: 16px;
      color: #333;
    }

    .contact-info {
      max-width: 400px;
      margin: auto;
    }


.contact-wrapper {
  background: #fff;
  /* border-radius: 10px; */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: -80px auto 0 auto;  /* Negative top margin for overlap */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.contact-left {
  /* background: #f9f9f9; */
  padding: 40px;
  text-align: center;
  flex: 1 1 40%;
}

.contact-left img {
  max-width: 120px;
  margin-bottom: 20px;
}

.contact-left p {
  margin: 10px 0;
}




.contact-right {
  padding: 40px;
  /* flex: 1 1 60%; */
}
.form-control {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px 14px;
    font-size: 15px;
    border-radius: 6px;
    box-shadow: none;
    color: #333;
  }
.form-control:focus {
  box-shadow: none;
  border-color: #33cc99;
}

.btn-submit {
  background-color: #ffc107;
  color: black;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-submit:hover {
  background-color: #fdbe02;
}

/* Responsive Fix */
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
    margin: -40px auto 0 auto;  /* smaller overlap on mobile */
  }
  .contact-left, .contact-right {
    flex: 1 1 100%;
    padding: 30px;
  }
}
