body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
}

.main {
  padding-bottom: 60px;
}

.heading {
  text-align: center;
  background: linear-gradient(to right, #ffc107);
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  padding: 80px 20px;
  height: 250px;
  position: relative;
  z-index: 1;
}

.contact-wrapper {
  background: #fff;
  /* border-radius: 10px; */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: -80px auto 0 auto;  /* Negative top margin for overlap */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.contact-left {
  /* background: #f9f9f9; */
  padding: 40px;
  text-align: center;
  flex: 1 1 40%;
}

.contact-left img {
  max-width: 120px;
  margin-bottom: 20px;
}

.contact-left p {
  margin: 10px 0;
}

.vertical-divider {
  width: 1px;
  height: 60%;
  background-color: #ccc;
  margin: 0 20px;
}


.contact-right {
  padding: 40px;
  /* flex: 1 1 60%; */
}

.form-control:focus {
  box-shadow: none;
  border-color: #33cc99;
}

.btn-submit {
  background-color: #ffc107;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-submit:hover {
  background-color: #28a78b;
}

/* Responsive Fix */
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
    margin: -40px auto 0 auto;  /* smaller overlap on mobile */
  }
  .contact-left, .contact-right {
    flex: 1 1 100%;
    padding: 30px;
  }
}
